# Suppress some deprecation warnings for packages that don't have direct alternatives
# These are mostly from react-scripts and will be resolved when react-scripts is updated
audit-level=moderate
fund=false
